/*
Libre Media Collection: Project to provide free/libre software to be
distributed in removable media.
Copyright (C) 2016, 2021, 2024  Adonay Felipe Nogueira <https://libreplanet.org/wiki/User:Adfeno> <adfeno.7046@gmail.com>

This file is part of Libre Media Collection.

Libre Media Collection is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Libre Media Collection is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Libre Media Collection.  If not, see <https://www.gnu.org/licenses/>.
*/

#language-en-us:checked ~ * .i18n:not(.i18n:lang("en-us")) {
  display: none;
}

#language-pt-br:checked ~ * .i18n:not(.i18n:lang("pt-br")) {
  display: none;
}

span.with-copy-icon::before {
  content: "&#9851";
}

span.with-plus-icon::before {
  content: "&#43;";
}
